<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1>product-detail.ejs</h1>
            <p><%= product.title %></p>
            <hr>
            <div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2>
                <%= product.price %>
            </h2>
            <p>
                <%= product.description %>
            </p>
            <form action="./cart.ejs" method="post"></form>
            <button class="btn" type="submit">Add To Cart</button>
        </main>
        <%- include('../includes/end.ejs') %>